@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Devanagari&display=swap');

*{
    box-sizing:border-box;
}
:root{
    --line-border-fill: rgb(5, 93, 110);
    --line-border--empty: #634e4e;
}

body{
    background-color: cadetblue;
    font-family: 'Noto Sans Devanagari';
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    font-weight: 600;
}

.container{
    text-align: center;
}

.progress-container{
    display: flex; 
    justify-content: space-between;
    position: relative;
    margin-bottom: 30px;
    max-width: 100%;
    width: 350px;

}

.progress-container::before{
    content:'';
    background-color: var(--line-border--empty);
    position: absolute;
    top: 50%;
    left: 0;  
    transform: translateY(-50%);
    height: 4px;
    width: 100%; 
    z-index: -1;
}




.progress{
    background-color: rgb(5, 93, 110);
    position: absolute;
    top: 50%;
    left: 0;  
    transform: translateY(-50%);
    height: 4px;
    width: 0%; 
    z-index: -1;
    transition: 0.4s ease;
}

.circle{
    background-color: white;
    color: #999;
    border-radius: 30%;
    height:30px;
    display: 30px;
    align-items: center;
    justify-content: center;
    border: 4px solid #e0e0e0;
    transition: .5s ease;
}

.circle.active{
    border-color: var(--line-border-fill);
}


.btn {
    width: 100px;
    height: 30px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}


.btn:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.btn:active {
    color: #000
}

.btn:active:after {
    background: transparent;
}

.btn:hover:before {
    opacity: 1;
}

.btn:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

 .btn:focus{
    outline: 0;

}

.btn:disabled{
   visibility: hidden;
} 


